<%-include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="todolist blue" id="border" >
            <div class="heading">
                <% if (locals.items) { %>
                    <h1>There are <%= locals.items.length %> daily tasks to do today!</h1>
                    <div class="daily_list">
                          <ol class="list-group list-group-numbered">
                            <% for (i=0; i < items.length; i++) { %>
                                 <li class="list-group-item list-group-item-dark">
                                    <%= items[i] %>
                                </li>
                               
                            <% } %>
                        </ol>
                    </div>
                <% } else{ %>
                    <h1>There are no todo items yet</h1>
                <% }; %>
            </div>
                    
                      
            <br>
            <div class="form">
                <form action="/" method="post" class="enter">
                    <input type="text" name="task" id="task" placeholder="Add Something Todo" required>
                    <button name="add" type="submit"><img src="\images\plus-circle-svgrepo-com.svg" alt="plus icon" class="icon"></button>
                </form>
            </div>
           
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
<%-include('partials/footer.ejs') %>