<%-include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="todolist">
            <% if locals.items_2 { %>
                <h1>There are <% {items_2.length} %> tasks to do today!</h1>
                <ul class="list-group">
                <% for (i=0; i < items_2.length; i++) { %>
                    <li>
                        <% items_2[i] %>
                    </li>
                <% } %>
                </ul>
             <% } else{ %>
                <h1>There are no todo items yet</h1>
            <% } %>
            <form action="/work" method="post">
                <input type="text" name="task_2" id="task_2" placeholder="Create Something Todo" required>
                <button name="submit" type="submit"><img src="public\images\plus-circle-svgrepo-com.svg" alt="plus icon" class="icon"></button>
            </form>
            <h1>Welcome to ToDo!</h1> 
            <div class="list">

            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
<%-include('partials/footer.ejs') %>